@import "utilities";

////// GENERAL //////
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // overflow: hidden;
  font-family: sans-serif;
  font-size: 20px;
}
body {
  background: rgb(27, 75, 47);
  color: #eee;
}
img {
  max-width: 100px;
}

////// SPECIFIC //////
.greeting {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 2.5rem;
    font-weight: 300;
  }
  & > * {
    margin-bottom: 2rem;
  }

  transition: opacity $fade-time ease;
}

.game {
  &-table {
    position: absolute;
    width: $max-width;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity $fade-time ease;

    .seats {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .deck {
        margin-bottom: 1rem;
      }
      &-cards {
        display: flex;
      }
      &-card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        padding: 1rem;
        max-width: 150px;
        height: 187px;

        border: 6px #ddd solid;
        border-radius: 10px;
      }
    }
  }

  .deck {
    // position: relative;
    img {
      position: fixed;
      top: -55px;
      left: 50%;
      // top: -150px;
      // left: 50%;
      transform: translateX(-50%);
    }
  }
  &-winner {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: $max-width;
    max-height: 500px;
    margin: auto;
    padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity $fade-time ease;

    background: rgb(21, 58, 36);
    border: 3px solid rgb(17, 41, 26);

    & *:first-child {
      margin-bottom: 1rem;
      font-size: 2rem;
    }
  }
}

////// ANIMATIONS //////
@keyframes dealCard {
  from {
    top: -150px;
    left: 50%;
    transform: translateX(-50%, -50%);
    // transform: rotateX(0deg);
    transform: rotateZ(0deg);
  }
  to {
    top: var(--top-target, -150px);
    left: var(--left-target, 50%);
    transform: var(--target-x, translateX(-50%));
    // transform: rotateX(180deg);
    transform: rotateZ(360deg);
  }
}
